<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.approval.mapper.ApprovalRecordMapper">

    <resultMap type="ApprovalRecord" id="ApprovalRecordResult">
        <result property="id" column="id"/>
        <result property="leaveId" column="leave_id"/>
        <result property="approverId" column="approver_id"/>
        <result property="comment" column="comment"/>
        <result property="approvalTime" column="approval_time"/>
        <result property="status" column="status"/>
        <result property="superiorId" column="superior_id"/>
        <result property="forwardId" column="forward_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <resultMap type="ApprovalRecordDTO" id="ApprovalRecordResultDTO">
        <result property="approvalId" column="id"/>
        <result property="leaveId" column="leave_id"/>
        <result property="approverId" column="approver_id"/>
        <result property="approverName" column="approver_name"/>
        <result property="status" column="status"/>
        <result property="superiorId" column="superior_id"/>
        <result property="superiorName" column="superior_name"/>
        <result property="forwardId" column="forward_id"/>
        <result property="forwardName" column="forward_name"/>
        <result property="studentId" column="student_id"/>
        <result property="studentName" column="student_name"/>
        <result property="reason" column="reason"/>
        <result property="type" column="type"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>



    </resultMap>

    <sql id="selectApprovalRecordVo">
        select id,
               leave_id,
               approver_id,
               comment,
               approval_time,
               status,
               superior_id,
               forward_id,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag
        from approval_record
    </sql>

    <select id="selectApprovalRecordList" parameterType="ApprovalRecord" resultMap="ApprovalRecordResult">
        <include refid="selectApprovalRecordVo"/>
        <where>
            <if test="leaveId != null  and leaveId != ''">and leave_id = #{leaveId}</if>
            <if test="approverId != null ">and approver_id = #{approverId}</if>
            <if test="comment != null  and comment != ''">and comment = #{comment}</if>
            <if test="approvalTime != null ">and approval_time = #{approvalTime}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="superiorId != null ">and superior_id = #{superiorId}</if>
            <if test="forwardId != null ">and forward_id = #{forwardId}</if>
            and del_flag = 0
        </where>
    </select>

    <select id="selectApprovalRecordById" parameterType="Long" resultMap="ApprovalRecordResult">
        <include refid="selectApprovalRecordVo"/>
        where id = #{id} and del_flag = 0
    </select>
    <select id="getApprovalRecordNumById" resultType="java.lang.Long" parameterType="java.lang.Long">
        select ifNULL(count(leave_id), 0)
        from approval_record
        where approver_id = #{id}
          and status = 0
          and del_flag = 0
    </select>
    <select id="getApprovalRecordApp" resultMap="ApprovalRecordResultDTO" parameterType="ApprovalRecord">
        select ar.id,
               ar.leave_id,
               ar.approver_id,
               ar.status,
               ar.superior_id,
               ar.forward_id,
               la.student_id,
               su1.nick_name as approver_name,
               su2.nick_name as student_name,
               su3.nick_name as forward_name,
               su4.nick_name as superior_name,
               la.reason,
               la.type,
               la.start_time,
               la.end_time
        from approval_record ar
                 left join leave_application la on ar.leave_id = la.id
                 left join sys_user su1 on ar.approver_id = su1.user_id
                 left join sys_user su2 on la.student_id = su2.user_id and la.id = ar.leave_id
                 left join sys_user su3 on ar.forward_id = su3.user_id
                 left join sys_user su4 on ar.superior_id = su4.user_id
        where ar.approver_id = #{approverId}
          and ar.status = 0
          and la.del_flag = 0
          and ar.del_flag = 0
    </select>

    <insert id="insertApprovalRecord" parameterType="ApprovalRecord" useGeneratedKeys="true" keyProperty="id">
        insert into approval_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="leaveId != null">leave_id,</if>
            <if test="approverId != null">approver_id,</if>
            <if test="comment != null">comment,</if>
            <if test="approvalTime != null">approval_time,</if>
            <if test="status != null">status,</if>
            <if test="superiorId != null">superior_id,</if>
            <if test="forwardId != null">forward_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="leaveId != null">#{leaveId},</if>
            <if test="approverId != null">#{approverId},</if>
            <if test="comment != null">#{comment},</if>
            <if test="approvalTime != null">#{approvalTime},</if>
            <if test="status != null">#{status},</if>
            <if test="superiorId != null">#{superiorId},</if>
            <if test="forwardId != null">#{forwardId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateApprovalRecord" parameterType="ApprovalRecord">
        update approval_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="leaveId != null">leave_id = #{leaveId},</if>
            <if test="approverId != null">approver_id = #{approverId},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="approvalTime != null">approval_time = #{approvalTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="superiorId != null">superior_id = #{superiorId},</if>
            <if test="forwardId != null">forward_id = #{forwardId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteApprovalRecordById" parameterType="Long">
        update approval_record
        set del_flag = 1
        where id = #{id}
    </delete>

    <delete id="deleteApprovalRecordByIds" parameterType="String">
        update approval_record set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>