<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.checkIn.mapper.CheckinRecordMapper">
    
    <resultMap type="CheckinRecord" id="CheckinRecordResult">
        <result property="id"    column="id"    />
        <result property="checkinId"    column="checkin_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="checkinTime"    column="checkin_time"    />
        <result property="status"    column="status"    />
        <result property="location"    column="location"    />
        <result property="remark"    column="remark"    />
        <result property="device"    column="device"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectCheckinRecordVo">
        select id, checkin_id, student_id, checkin_time, status, location, remark, device, create_by, create_time, update_by, update_time, del_flag from checkin_record
    </sql>

    <select id="selectCheckinRecordList" parameterType="CheckinRecord" resultMap="CheckinRecordResult">
        <include refid="selectCheckinRecordVo"/>
        <where>  
            <if test="checkinId != null  and checkinId != ''"> and checkin_id = #{checkinId}</if>
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="checkinTime != null "> and checkin_time = #{checkinTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="device != null  and device != ''"> and device = #{device}</if>
             and del_flag = 0
        </where>
    </select>
    
    <select id="selectCheckinRecordById" parameterType="Long" resultMap="CheckinRecordResult">
        <include refid="selectCheckinRecordVo"/>
        where id = #{id} and del_flag = 0
    </select>

    <select id="selectCheckinRecordListRecord" parameterType="CheckinVo" resultMap="CheckinRecordResult">
        <include refid="selectCheckinRecordVo"/>
        <where>
            <if test="checkinId != null  and checkinId != ''"> and checkin_id = #{checkinId}</if>
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="checkinTime != null "> and checkin_time = #{checkinTime}</if>
            and del_flag = 0
        </where>
    </select>
    <select id="selectCheckinRecordByCheckinIdAndStudentId" resultMap="CheckinRecordResult">
        <include refid="selectCheckinRecordVo"/>
        where checkin_id = #{checkinId} and student_id = #{studentId} and del_flag = 0 limit 1
    </select>

    <insert id="insertCheckinRecord" parameterType="CheckinRecord" useGeneratedKeys="true" keyProperty="id">
        insert into checkin_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="checkinId != null and checkinId != ''">checkin_id,</if>
            <if test="studentId != null">student_id,</if>
            <if test="checkinTime != null">checkin_time,</if>
            <if test="status != null">status,</if>
            <if test="location != null">location,</if>
            <if test="remark != null">remark,</if>
            <if test="device != null">device,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="checkinId != null and checkinId != ''">#{checkinId},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="checkinTime != null">#{checkinTime},</if>
            <if test="status != null">#{status},</if>
            <if test="location != null">#{location},</if>
            <if test="remark != null">#{remark},</if>
            <if test="device != null">#{device},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateCheckinRecord" parameterType="CheckinRecord">
        update checkin_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="checkinId != null and checkinId != ''">checkin_id = #{checkinId},</if>
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="checkinTime != null">checkin_time = #{checkinTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="location != null">location = #{location},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="device != null">device = #{device},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCheckinRecordById" parameterType="Long">
        update checkin_record set del_flag = 1 where id = #{id}
    </delete>

    <delete id="deleteCheckinRecordByIds" parameterType="String">
        update checkin_record set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>